amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
cov-core==1.15.0
coverage==4.0.3
defusedxml==0.4.1
Django==1.9.5
django-allauth==0.25.2
django-braces==1.9.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-filter==0.13.0
django-nose==1.4.3
django-oauth-toolkit==0.10.0
django-push-notifications==1.4.1
django-sslserver==0.19
djangorestframework==3.3.3
drf-nested-routers==0.11.1
ecdsa==0.13
Fabric3==1.10.2.post3
kombu==3.0.35
Markdown==2.6.6
matplotlib==2.0.0
oauthlib==1.0.3
paramiko==1.16.0
pbr==1.10.0
psycopg2==2.6.1
pycrypto==2.6.1
python-dateutil==2.5.3
python3-openid==3.0.10
pytz==2016.3
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
rest-condition==1.0.2
six==1.10.0
sqlparse==0.1.19
wheel==0.24.0
