{% extends 'base.html' %}
{% load staticfiles %}

{% block navpadding %}{% endblock %}
{% block content %}
<section class="about" id="contact.head">
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-12 text-center">
        <h1 class="">
          Contact Us
        </h1>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-6 ">
        <p class="tagline text-muted text-center">
          We want to hear what you think
        </p>
        <p>
          We hope you're enjoying MyGeneRank, and if you are we'd love to hear from you. If you're having any issues, we want to hear that too.
        </p>
        <p>
          You can get in contact with us on Twitter, or email our support team.
        </p>
         <ul style="list-style-type: none;">
          <li><a href="//twitter.com/mygenerank"><i class="fa fa-twitter"></i> Twitter</li></a>
          <li><a href="mailto:generank@scripps.edu"><i class="fa fa-envelope"></i> Generank@scripps.edu</a></li>
        </ul>
     </div>
      <div class="col-md-4 text-center">
        <img src="{% static 'img/logo-big.png' %}" class="rounded" />
      </div>
    </div>
  </div>
</section>
{% endblock %}
