{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="about" id="contact.head">
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-12 text-center">
        <h1 class="">
          Contact Us
        </h1>
        <p class="tagline text-muted">
          We want to hear what you think
        </p>
      </div>
    </div>
    <div class="row  text-center">
      <div class="col-md-12">
        <p>
          We hope you're enjoying MyGeneRank, and if you are we'd love to hear from you. If you're having any issues, we want to hear that too.
        </p>
        <p>
          You can get in contact with us on Twitter, or email our support team.
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-4">

        <ul style="list-style-type: none;">
          <li><a href="//twitter.com/mygenerank"><i class="fa fa-twitter"></i> Twitter</li></a>
          <li><a href="mailto:mygenerank@scrippshealth.org"><i class="fa fa-envelope"></i> mygenerank@scrippshealth.org</li></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
