{% extends 'base.html' %}
{% load staticfiles %}

{% block navpadding %}{% endblock %}
{% block sticky %}{% endblock %}

{% block content %}
<section class="about" id="privacy.head">
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-12">
        <div class="h1">
          Scripps Research Translational Institute <br />Privacy Statement
        </div>
        <div class="h3 text-muted">
          MyGeneRank, 16 August 2017
        </div>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-md-12">
        <ol class="">
          <li>Introduction
          <p>
            We take protecting your privacy very seriously. Like many online services, we may collect certain Personal Information and user data when you use the MyGeneRank website or mobile application. Our primary goals in collecting information are to improve the user experience provided to you, and to perform genetics research. In this policy we explain how we will use and protect information collected through the MyGeneRank website and online services.
          </p><p>
            This Privacy Policy covers our treatment of Personal Information that we gather when you are accessing or using the MyGeneRank website or online services. By using the MyGeneRank website and online services, you acknowledge that you accept the practices and policies described in this Privacy Policy.
          </p><p>
            The MyGeneRank website and online services collect your Personal Information for the purposes of genetic research studies being conducted by the Scripps Research Translational Institute.  If you choose participate in MyGeneRank studies and provide us with any Personal Information, you must first review and electronically sign the Informed Consent. Additional information regarding Personal Information for research participants can be found in the Informed Consent document.
          </p>
        </li>
        <li>Collecting Personal Information<p>
          We may collect, store, and use the following kinds of Personal Information:
          <ol type="a">
            <li><p>
              Information about your mobile device or computer including your IP address, geographical location, device type, browser type and version, and operating system.
            </p></li>
            <li><p>
              Information about your use of the MyGeneRank website and online services including your referral source, length of use, page and screen views, and page and screen navigation path.
            </p></li>
            <li><p>
              Information that you provide when registering with MyGeneRank including your email address and a hashed derivative of your password you create to access your MyGeneRank account. We do not store your actual password.
            </p></li>
            <li><p>
              Information that you provide when providing Informed Consent for MyGeneRank research studies, including your name and signature. Your informed consent document, containing your name and signature, as well as your email address, is stored electronically in a secure data repository separate from all other Personal Information.
            </p></li>
            <li><p>
              Information collected during participation in MyGeneRank research studies. The Informed Consent associated with each research study will tell you what information will be collected. If you choose to share information during participation in MyGeneRank research studies, once that information is collected, it is covered by this privacy policy. This information includes:
              <ol type="i">
                <li><p>
                  Information that you manually enter during participation in MyGeneRank research studies (e.g. survey responses). This may include personal health and demographic information such as blood pressure measurements, cholesterol levels, family health history information, age, gender, weight, etc. You may choose not to provide us with certain information.
                </p></li>
                <li><p>
                  Information that is automatically collected during participation in MyGeneRank research studies, including data collected by HealthKit (e.g. step counts, nutrition logs, etc.), and data collected by wearable technology (e.g. wristwatches, blood pressure monitors, etc.). Items automatically collected will be under your control and you may choose whether or not to provide this information by disabling/enabling this feature.
                </p></li>
              </ol>
            </p></li>
            <li><p>
              Please note that all information collected by the MyGeneRank website and online services will be processed in the United States regardless of your country of residence.
            </p></li>
            <li><p>
              We do not knowingly collect or solicit Personal Information from anyone under the age of 18. If you are under 18, you must not attempt to register for the MyGeneRank website or online services and you must not send any information about yourself to us, including but not limited to your name, address, telephone number, or email address. In the event that we learn that we have collected Personal Information from a person under age 18, we will delete that information. If you believe that we might have any information from or about a person under the age of 18, please contact us at <a href="mailto:generank@scripps.edu">Generank@scripps.edu</a> – if you are under 18 and have submitted Personal Information to the MyGeneRank website or online services, please contact us at <a href="mailto:generank@scripps.edu">Generank@scripps.edu</a> to have your information deleted.
            </p></li>
          </ol>
        </li>
        <li>Security of Personal Information<p>
          We will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your Personal Information. These precautions include:
          <ol type="a">
            <li><p>
              All Personal Information that is collected by the MyGeneRank website and online services will be encrypted and electronically sent to a secure data server run by the Scripps Research Translational Institute (“STSI”), a non-profit research organization.
            </p></li>
            <li><p>
              STSI will replace the direct identifiers associated with account (your email address) with a code to help protect your identity.
            </p></li>
            <li><p>
              The coded, de-identified study data collected during participation in MyGeneRank research studies will be transferred electronically to a secure data server. Refer to your consent form to see how we handle your study data.
            </p></li>
            <li><p>
              STSI will store the consent form and direct identifiers associated with informed consent (your name, signature, and email address) separately from all other information collected by the MyGeneRank website and online services.
            </p></li>
            <li><p>
              Access to your MyGeneRank account will be protected by a password you select after enrolling in the study. This will need to be entered every time you access the account. You should take steps to prevent unauthorized access to your account and Personal Information by selecting and protecting your credentials appropriately and limiting access to your access devices.
            </p></li>
            <li><p>
              You acknowledge that the transmission of information over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
            </p></li>
            <li><p>
              You acknowledge that we cannot guarantee complete security of the Personal Information we collect. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of your Personal Information at any time.
            </p></li>
          </ol>
        </p></li>
        <li>Use of Personal Information<p>
          We will combine the information collected from you during participation in MyGeneRank research studies with information collected from other study participants. The combined information will be used by researchers to determine the relationship between genetic information and health and behaviors, as permitted to by the informed consent for MyGeneRank studies. We may also use information we collect about you to:
          <ol type="a">
            <li><p>
              Contact you during the research study to get feedback about the MyGeneRank website or mobile application.
            </p></li>
            <li><p>
              Evaluate usage of the MyGeneRank website or mobile application, including how often and what features of the website or mobile application are used, and how usage of the website or mobile application and its features relate to genetic information, health, and behaviors.
            </p></li>
          </ol>
        </p></li>
        <li>Disclosing Personal Information<p>
          Except as described in this privacy policy, we will not sell, rent, lease, give away, disclose, or share your Personal Information to third parties without your consent. We may disclose your Personal Information in the following ways:
          <ol type="a">
            <li><p>
              We reserve the right to disclose information collected through the MyGeneRank website and online services as required by law, when we believe disclosure is necessary to comply with a regulatory requirement, judicial proceeding, court order, or legal process served on us, or to protect the safety, rights, or property of those involved in MyGeneRank studies.
            </p></li>
            <li><p>
              We may share your coded study data (data without your name, date of birth, or email address) with other researchers as permitted by the informed consent for MyGeneRank studies. Individual level genetic data collected by the MyGeneRank website and online services will not be shared. Aggregate genetic data and statistical results may be shared.
            </p></li>
          </ol>
        </p></li>
        <li>Amendments<p>
          This privacy policy is effective as of August 16, 2017. We may change this privacy policy from time to time. Any changes will be posted on this page with an updated revision date. In the event that any changes to this privacy policy materially alter your rights or obligations under this privacy policy, we will make reasonable efforts to notify you of the change. For example, we may send a message to your email address, if we have one on file, or generate a pop-up or similar notification when you access the MyGeneRank website or online services for the first time after such material changes are made. Your continued use of the MyGeneRank website or online services after the revised privacy policy has become effective indicates that you have read, understood and agreed to the then-current version of this privacy policy.
        </p></li>
        <li>Your Rights
          <p>
            You have the right to view and verify Personal Information we collect about you. If you wish to access, rectify, delete or block any of the Personal Information, you may contact us at <a href="mailto:generank@scripps.edu">Generank@scripps.edu</a>
           </p><p>
            Please note that while any changes you make will be reflected in active user databases within a reasonable period of time, we may maintain a copy of all information you submit for backups, archiving, prevention of fraud and abuse, analytics, satisfaction of legal obligations, or where we otherwise reasonably believe that we have a legitimate reason to do so, as permitted by applicable law.
          </p><p>
            You can withdraw from MyGeneRank studies at any time. Please note that if you withdraw from a study, we will stop collecting new data from you, but the coded study data that you have already provided will not be destroyed or deleted.
          </p>
        </li>
        <li>Third Party Websites and Online Services
          <p>
            The MyGeneRank website and online services include hyperlinks to, and details of, third party websites and online services. We have no control over, and are not responsible for, the privacy policies and practices of third parties. When following a link to another website, you should read that website’s privacy policy and make sure that you agree with it and can accept it. This Privacy Policy does not apply to the practices of companies or institutions that we do not own or control, or to individuals who we do not employ or manage.
          </p>
        </li>
        <li>Cookies
          <p>
            Our website uses cookies. A cookie is a string of information that is sent by a web server to a web browser and is stored by the browser. The identifier is sent back by the browser to the web server each time the visitor returns. MyGeneRank uses cookies to help identify and track users and their usage of the website. MyGeneRank users who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using the MyGeneRank website, with the drawback that certain features of the MyGeneRank website may not function properly without cookies.
          </p>
        </li>
        <li>Contact<p>
          If you have any questions, comments or requests regarding this privacy policy or our processing of your information, please contact: <a href="mailto:generank@scripps.edu">Generank@scripps.edu</a
        </p></li>
      </li>
    </ol>
  </div>
</section>
{% endblock %}





