{% extends 'base.html' %}
{% load staticfiles %}

{% block navpadding %}{% endblock %}
{% block sticky %}{% endblock %}

{% block content %}
<section class="team" id="team">
  <div class="col-md-12">
  <div class="container">
  <div class="col-md-12">
    <h1 class="text-center">
      The Team
    </h1>
    <p class="tagline text-muted">
      A project this big can't be done alone. Here's just some of the great people that made this whole endeavor possible.
    </p>
  </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{% static 'img/ali.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Ali Torkamani, PhD</span> <span class="card-text">Director, Genome Informatics</span>
          </div>
          <div class="team-over">
            <h4 class="hidden-md-down">
              Contact Me
            </h4>
            <nav class="social-nav">
              <a href="//twitter.com/ATorkamani"><i class="fa fa-twitter"></i></a>
              <a href="mailto:atorkama@scripps.edu"><i class="fa fa-envelope"></i></a>
            </nav>
          </div>
          </a>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="{% static 'img/Wineinger.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Nathan Wineinger, PhD</span>
            <span class="card-text">Assistant Professor & Director, Biostatistics</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="{% static 'img/Spencer.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Emily Spencer, PhD</span>
            <span class="card-text">Assistant Professor &amp; Director, Clinical Genomics Research Program</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="{% static 'img/Muse.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Evan Muse, MD, PhD</span>
            <span class="card-text">Assistant Professor, Cardiologist</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="//www.gravatar.com/avatar/11b074a636e00292c98e3e60f7e16595?size=380">
          <div class="card-title-wrap">
            <span class="card-title">Brian Schrader</span> <span class="card-text">Software Engineer</span>
          </div>
          <div class="team-over">
            <h4 class="hidden-md-down">
              Contact Me
            </h4>
            <nav class="social-nav">
              <a href="//twitter.com/sonicrocketman"><i class="fa fa-twitter"></i></a>
              <a href="mailto: bschrade@scripps.edu"><i class="fa fa-envelope"></i></a>
            </nav>
          </div></a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{% static 'img/bhuvan.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Bhuvan Molparia, PhD</span> <span class="card-text">Bioinformatics Scientist</span>
          </div>
          <div class="team-over">
            <h4 class="hidden-md-down">
              Contact Me
            </h4>
            <nav class="social-nav">
              <a href="mailto: bhuvan@scripps.edu"><i class="fa fa-envelope"></i></a>
            </nav>
          </div></a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{% static 'img/Paris.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Yunyue (Paris) Zhang</span> <span class="card-text">Research Data Scientist</span>
          </div>
          <div class="team-over">
            <h4 class="hidden-md-down">
              Contact Me
            </h4>
            <nav class="social-nav">
              <a href="//www.linkedin.com/in/parisyunyuezhang"><i class="fa fa-linkedin"></i></a>
            </nav>
          </div></a>
        </div>
      </div>


      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="{% static 'img/will.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Will (Shuchen) Liu</span> <span class="card-text">Software Engineer</span>
          </div>
          <div class="team-over">
            <h4 class="hidden-md-down">
              Contact Me
            </h4>
            <nav class="social-nav">
              <a href="//github.com/shuchenliu"><i class="fa fa-github"></i></a>
            </nav>
          </div></a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="{% static 'img/lippman.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Alexander Lippman</span>
            <span class="card-text">Applications Systems Administrator</span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <img alt="" class="team-img" src="{% static 'img/Wagner.jpg' %}">
          <div class="card-title-wrap">
            <span class="card-title">Jennifer Wagner, RN, CCRC</span>
            <span class="card-text">Study Coordinator</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
